aiohttp==3.8.1
aiofiles
asyncio
ffmpeg-python
pillow
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python
youtube-search
motor
psutil
requests
rich
dnspython
tgcrypto
gitpython
heroku3
flask==2.1.1
werkzeug==2.0.3
requests
PyYAML>=5.3.1
gitpython
spotipy
pykeyboard
git+https://github.com/myrepotestv1/asad-ld
git+https://github.com/myrepotestv1/abgram
